*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 20vh 15vw 20vh 15vw;

    background-color: rgb(228, 110, 110);
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:45vw;

    background-color:rgba(255, 255, 255, 0.795);
    color:black;

    border-radius: 10px;
    box-shadow: 2px 3px 8px rgb(92, 92, 92);

    padding:1vh 2vw;


}

h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom:0.5vh;
}

#nome-sobrenome{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding:1vh 2vw 1vh 2vw;

    border-bottom: 1px solid #ccc;
    width:40vw;
}

#nome-sobrenome input{
    width:40vw;
    margin-top:1vh;
    font-size:1.5rem;
    padding-left: 1vw;
}

#nome-sobrenome input::placeholder{
    text-align: center;
}


#curso, #data-nasc{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width:45vw;

    font-size:1.5rem;

    padding:0.2vw;
}

#input-data-nasc, select{
    font-size:1.3rem;
    padding-left:0.5vw;
}

button{
    width:20vw;
    background-color:transparent;
    border-radius: 5px;

    padding:0.3vw;

    margin-top:2vh;
    margin-bottom:2vh;

    font-size:1.2rem;
}

button:hover{
    background-color: rgb(111, 111, 209);
    color:white;
    transition:1s;
    border-color: transparent;
}

span{
    color:rgb(209, 36, 36);
    font-size:1.5rem;
}

#output{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width:45vw;

    background-color:rgba(255, 255, 255, 0.795);
    color:black;

    border-radius: 10px;
    box-shadow: 2px 3px 8px rgb(92, 92, 92);

    padding:2vh 2vw;

    font-size:1.7rem;
}

.hide{
    display:none !important;
}

/*MEDIA QUERRY*/
@media (max-width: 692px) and (min-width:501px){
    body{
        padding: 20vh 10vw 20vh 10vw;    
    }
    form{
        width:55vw;
    }
    #output{
        width:55vw;
    }
}
@media (max-width: 500px){
    body{
        padding: 20vh 5vw 20vh 5vw;    
    }

    form{
        width:65vw;
    }

    h1{
        font-size: 1.7rem;
    }

    #nome-sobrenome input{
        font-size:1.3rem;
    }

    #curso, #data-nasc{
        font-size:1.3rem;
    }
    #input-data-nasc, select{
        font-size:1rem;
    }

    button{
        font-size:1rem;
        width:30vw;
    }

    span{
        font-size:1.3rem;
    }
    #output{
        width:65vw;
    }
}